<ion-header>
  <ion-toolbar color="footer" text-center>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-label>Solicitud Tickets</ion-label>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/img/edi_5.webp" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/edi_5.webp " alt="">
    </ion-slide>
  </ion-slides>


  <div text-center class="animated bounceInUp" padding>
    <ion-item text-center>
      <ion-label>
        Fecha solicitud
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Laboral</ion-label>
      <ion-datetime [pickerOptions]="optionspickersL" [ngModel]="fecha_actual_laboral.toISOString()" min="2019-01-01" max="2024-12-31" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Personal</ion-label>
      <ion-datetime [pickerOptions]="optionspickersP" [ngModel]="fecha_actual_personal.toISOString()" min="2019-01-01" max="2024-12-31" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic">
      </ion-datetime>
    </ion-item><br>

    <ion-button *ngIf="t_laboral" expand="block" (click)="postFechaL()" class="ion-margin-top">Enviar

    </ion-button>
    <ion-button *ngIf="t_personal" expand="block" (click)="presentPopover($event)" class="ion-margin-top">Trayecto

    </ion-button>
  </div>

</ion-content>