

<ion-content padding>
    <ion-fab vertical="top" horizontal="end" slot="fixed" >
        <ion-fab-button  routerLink="/calendario">
          <ion-icon name="calendar"></ion-icon>
        </ion-fab-button>
    </ion-fab>

 <ion-list>
        <ion-item detail>
            <ion-icon name="globe" padding-end></ion-icon>
          <ion-label>Nac/Int</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="airplane" padding-end></ion-icon>
          <ion-label>Volar desde</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="airplane" mode="ios" padding-end></ion-icon>
          <ion-label>Volando a</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="calendar" padding-end></ion-icon>
          <ion-label>Fecha Ida</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="calendar" mode="ios" padding-end></ion-icon>
          <ion-label>Fecha Regreso</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="time" padding-end></ion-icon>
          <ion-label>Hora Ida</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="stopwatch" mode="ios" padding-end></ion-icon>
          <ion-label>Hora Regreso</ion-label>
        </ion-item>
        <ion-item detail>
            <ion-icon name="person-add" padding-end></ion-icon>
          <ion-label>Agregar Pasajero</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="full">Enviar Reserva</ion-button>
</ion-content>
