<ion-content>
  <ion-row class="borde">
    <ion-col size="3">
      Origen
    </ion-col>
    <ion-col size="3">
      Destino
    </ion-col>
    <ion-col size="3">
      Fecha
    </ion-col>
    <ion-col size="3">
      Detalles
    </ion-col>
  </ion-row>
  <ion-row  *ngFor="let detail of details | paginate: { itemsPerPage: 4, currentPage: pageActual }" >
    <ion-col size="3">
      <ion-item text-center>
        <ion-label>
            {{detail.ciudad_origen  | slice:0:3}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item text-center>
        <ion-label>
            {{detail.ciudad_destino | slice:0:3}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item text-center>
        <ion-label>
            {{detail.fecha_solicitud}}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="3" text-center padding-top>
      <ion-icon color="footer" name="search" (click)="detallePasaje(detail.anticipoID)" ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="!details" text-center size="12">
        <img src="../../../assets/icon/loading.gif" alt="">
    </ion-col>
  </ion-row>
  <div *ngIf="details" text-center>
      <pagination-controls (pageChange)="pageActual = $event" directionLinks="false">
      </pagination-controls>
  </div>
  <ion-button color="footer" expand="block" (click)="cerrarDetallesPasajes()">
              Cerrar
  </ion-button>
</ion-content>
