<ion-header>
  <ion-toolbar color="footer">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Resumen reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-icon name="jet" color="footer" slot="start"></ion-icon>
    <ion-label>
      <h3>Tipo trayecto</h3>
      <p>{{resumen.tipoTrayecto}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="airplane" color="footer" slot="start"></ion-icon>
    <ion-label >
      <h3>Tipo vuelo</h3>
      <p>{{resumen.tipoVuelo}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="globe" color="footer" slot="start"></ion-icon>
    <ion-label >
      <h3>Ciudad Origen</h3>
      <p >{{resumen.ciudadOrigen}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="globe" color="footer" slot="start"></ion-icon>
    <ion-label>
      <h3>Ciudad Destino</h3>
      <p >{{resumen.ciudadDestino}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" color="footer" slot="start"></ion-icon>
    <ion-label>
      <h3>Fecha Ida</h3>
      <p>{{resumen.fechaIda}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="time" color="footer" slot="start"></ion-icon>
    <ion-label>
      <h3>Hora Ida</h3>
      <p>{{resumen.horaIda}}</p>
    </ion-label>
  </ion-item>


  <!-- <div *ngIf="pasajeros">
  <ion-item *ngFor="let pasajero of pasajeros; let k = index">
      <ion-icon name="person" color="footer" slot="start"></ion-icon>
      <ion-label>
        <h3>pasajero {{k + 1 }}</h3>
        <p>{{pasajero.nombres}} {{pasajero.apellidos}}</p>
      </ion-label>
    </ion-item>
  </div> -->


</ion-content>