<ion-header>
  <ion-toolbar color="footer" text-center >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout"></ion-back-button>
    </ion-buttons>
    <ion-title>Pasaje Aereo Personal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopoverTuCuenta($event)">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="personal-ida">
                <ion-icon name="return-right"></ion-icon>
              <ion-label>Ida</ion-label>
            </ion-tab-button>   
          <ion-tab-button tab="personal-ida-vuelta">
            <ion-icon name="repeat"></ion-icon>
            <ion-label>Ida y Vuelta</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>

<ion-footer >
  <ion-toolbar color="footer" text-center >
        <ion-button  margin-end (click)="resumenReserva()" >
          <ion-label >Resumen reserva</ion-label>
        </ion-button> 
        <!-- <ion-button  margin-start routerLink="/calendario" > 
          <ion-label >Calendario</ion-label>
        </ion-button>    -->
  </ion-toolbar>
</ion-footer>