<ion-header>
  <ion-toolbar color="footer" text-center>
    <ion-title>Datos Pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row text-center>
    <ion-col size="12">
        <ion-label color="primary">Primary Label</ion-label>
      <ion-select placeholder="Seleccione uno" interface="popover" (ionChange)="cambioTipo($event)">
        <ion-select-option value="" disabled>Seleccione</ion-select-option>
        <ion-select-option value="3223050b-739a-d6cf-df14-5582fd06ed83">Cedula ciudadania</ion-select-option>
        <ion-select-option value="32251ecd-0502-1b9e-26ed-5582fd09b2bd">Cedula extranjeria</ion-select-option>
        <ion-select-option value="323c48c0-d537-f3c6-ae1f-5582fdcd2430">Tarjeta Identidad</ion-select-option>
        <ion-select-option value="3233d658-e1c2-4a72-ebef-5582fd66bf76">Rut</ion-select-option>
        <ion-select-option value="322734a2-6dc3-4cb4-5799-5582fd7b0ef0">Nit</ion-select-option>
        <ion-select-option value="32d3ad90-f153-b8c6-7f9e-5d096d54baeb">Pep</ion-select-option>
        <ion-select-option value="322d8b21-1c4e-7da1-1a5a-5582fd90a153">Pasaporte</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-label_" position="floating"># Documento</ion-label>
        <ion-input clearInput type="number" name="documento" [(ngModel)]="pasajero.documento" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-label_" position="floating">Nombres</ion-label>
        <ion-input clearInput name="nombres" [(ngModel)]="pasajero.nombres"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-label_" position="floating">Apellidos</ion-label>
        <ion-input clearInput name="apellidos" [(ngModel)]="pasajero.apellidos"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-label_" position="floating">F-nacimiento</ion-label>
        <ion-datetime [pickerOptions]="optionspickers" 
                       min="1930-01-01" 
                       max="2019-12-31" 
                       [ngModel]="fecha_nacimiento">
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="rpasaporte">
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-label_" position="floating">Pasaporte</ion-label>
        <ion-input clearInput name="pasaporte" [(ngModel)]="pasajero.pasaporte"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">F-vencimiento</ion-label>
        <ion-datetime [pickerOptions]="optionspickerspasaporte" 
                       min="2016-01-01" 
                       max="2030-12-31" 
                       [ngModel]="fecha_actual.toISOString()">
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  
    <ion-button color="footer" expand="block"  (click)="sendData()" >
        <ion-icon name="person-add" slot="start" ></ion-icon>
      <ion-label class="ion-label_">Agregar</ion-label>
    </ion-button>

</ion-content>