.div1 {
  border: 1px black solid;
  font-size: 12px;
  border-radius: 3px;
  background-color: rgba(44, 57, 81, 0.336)
}
.ion-label_{
    font-size: 13px !important
}


ion-label{
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

ion-button{
  font-size: 8px
}

.popover_class{
  height: 360px;
}