ion-input{
    font-size: 13px !important;
}

.img-register{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    height: 105px;
    width: 105px;
    margin: auto;
    display: block;
}
ion-button{
    margin-top: 15px !important;
}
.img-log{
    height: 20%;
}